#### Exercise 02: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 03: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List Data Science Tools
- Evaluating arithmetic examples using Python syntax

#### Exercise 04: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

#### Exercise 05: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

#### Exercise 06: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Lab        |
| Visual Studio Code |
| R Studio           |

#### Exercise 07: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

#### Exercise 08: Create a code cell to multiply and add numbers

In [6]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

#### Exercise 09: Create a code cell to convert minutes to hours

In [8]:
# This will convert 200 minutes to hours by dividing by 60. 

200 / 60

3.3333333333333335

#### Exercise 10: Insert a markdown cell to list Objectives

#### Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Guilherme Mene Ale Primo